@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a {
		@apply rounded focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-pink-400;
	}

	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}

	input[type='text'],
	input[type='number'],
	input[type='date'],
	textarea {
		@apply relative block w-full border-gray-300 bg-transparent placeholder-slate-400 focus:z-10 focus:border-pink-500 focus:ring-pink-500 dark:border-gray-600 dark:placeholder-slate-500 sm:text-sm;
	}
}
